body {
    margin: 0;
    background-color: black;
}

.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
}

.step_invitation {
    position: absolute;
    top: 35%;
    left:35%;
    text-align: center;
    font-size: 50pt;
    cursor: pointer;
}

.step_intro {
    display: none;
}

.step_running {
    display: none;
}

/* Set the animation, color, size and hide the text */
.intro {
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: 1;
    animation: intro 4s ease-out 1s;
    color: rgb(75, 213, 238);
    font-weight: 400;
    font-size: 500%;
    opacity: 0;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.step_invitation p,
.step_intro p {
    color: #FFFF82;
}

/* Set the font, lean the board, position it */
#board {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 350%;
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;
}

#board:after {
    position: absolute;
    content: ' ';
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
}

/* Set the scrolling animation and position it */
#content {
    animation: scroll 100s linear 7s;
    position: absolute;
    top: 100%;
}

#title, #subtitle {
    text-align: center;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    90% {
        top: -170%;
    }
}

.step_running {
    margin: auto;
}

.step_running div:last-child {
    text-align:center;
}

.step_running canvas {
    border:1px solid red;
}

.level_editor {
    display: none;
}

.instructions {
    color: #FFFF82;
    font-size:16pt;
    font-family: "Nirmala UI";
}